@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Pacifico');

a {
  text-decoration: none;
  color: white;
}


font {
  float: left;
  font-family: 'Bree Serif', serif;
  padding-right: 27%;
  padding-left: 30px;
  padding-top:15px;
}

h2 {
  float: left;
  margin-top: -2px;
  padding-right: 30%;
  padding-top:15px;
}


header {
  background-color: black;
  color:white;
}


nav {
  padding-top: 8px;
}


ul li {
  display: block;
  float: left;
  margin-left:30px;
  padding: 8px 8px 8px 8px;
}


#body {
  margin-top:-10px;
}


#header {
  background-color: black;
  height: 50px;
}


#footer {
  background-color: black;
  /* margin-top: 20px; */
}


#list {
  display: inline;
  list-style-type: none;
}


#login {
  background-color: green;
  color: white;
}


#login:hover{
  background-color: white;
  color: black;
}


#social{
  margin-top: 0px;
  padding-left: 35%;
}


.social {
  color: black;
}
