a {
  text-decoration: none;
  color: black;
}


#container {
  background-color: rgba(0, 13, 26, 0.5);
  overflow: hidden;
}

footer {
  background-color: #000d1a;
}


header {
  background-color: #000d1a;
}


img {
  padding-left: 20%;
}


label {
  display: block;
  padding-top: 120px;
  margin-bottom: 10px;
}


#left_content {
  background-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-left: hidden;
  border-top: hidden;
  border-bottom: hidden;
  border-right-color: #000d1a;
  /* border-right-color: white; */
  margin-left: 0px;
}


#logo {
  float: left;
  font-style: sans-serif;
  padding-left: 20px;
  width: 60%;
}


#right_container {
  margin-top: -15%;
  padding-left: 35%;
}


ul {
  display: inline;
  list-style-type: none;
}


ul li {
  background-color: #ffffff;
  color: black;
  display: block;
  float: left;
  margin: 16px 0px 0px 30px;
  padding: 12px 12px 12px 10px;
  display: block;
}


ul li:hover {
  background-color: #9999ff;
  color: white;
}
