@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Pacifico|Rammetto+One');

a {
  text-decoration: none;
  color: white;
}


body {
  margin: 0px;
}


blockquote {
  background: black;
  border-left: 10px solid white;
  color: white
  font-family: 'Roboto Condensed', sans-serif;
  text-align: justify;
  margin: 5.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}


blockquote:before {
  color: white;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}


blockquote p {
  display: inline;
}


font {
  float: left;
  font-family: 'Bree Serif', serif;
  padding-right: 27%;
  padding-left: 30px;
  padding-top:15px;
}


h2 {
  float: left;
  margin-top: -2px;
  padding-right: 15%;
  padding-top:15px;
}


header {
  background-color: black;
  color:white;
}


nav {
  padding-top: 8px;
}


span {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
}


table {
  width:100%;
}


td {
  text-align: center;
}


ul li {
  display: block;
  float: left;
  margin-left:30px;
  padding: 8px 8px 8px 8px;
}


#content {
  height:200px;
  overflow-y: auto;

}


#footer {
  background-color: black;
  color: white;
  font-family: monospace;
  text-align: center;
}


#founder_img{
  width: 60%;
  height: 250px;
  margin: 10% 10% 10% 30%;
  border-radius: 20px;
}


#header {
  background-color: black;
  height: 50px;
  color:white
}


#header_img {
  width:100%;
}


#holder {
  background-color: black;
  color: white;
}


#list {
  display: inline;
  list-style-type: none;
}


#live {
  background-color: green;
  color: white;
  padding: 6px;
}


#login {
  background-color: green;
  color: white;
}


#login:hover{
  background-color: white;
  color: black;
}


#social{
  margin-top: 0px;
  padding-left: 35%;
}


.icon {
  margin:0px;
}


.score {
  background-color: black;
  color: white;
  padding: 5px;
}


.social {
  color: black;
}
