/* body {
  background: repeating-linear-gradient(
  90deg,
  #606dbc,
  #606dbc 10px,
  #465298 10px,
  #465298 20px
);
} */


body{
  /* background-color: #379897; */
  background-image: url("pexels-photo-104675.jpeg");
}

.vbase{
  background: repeating-linear-gradient(
    90deg,
    #01A611,
    #01A611 110px,
    #007B0C 110px,
    #007B0C 220px
  );
  width: 80%;
  height: 70vh;
  margin:auto;
  margin-top: 100px;
  box-shadow: 8px 5px grey;
}

.hbase{
    background: repeating-linear-gradient(
    0deg,
    #01A611,
    #01A611 110px,
    #007B0C 110px,
    #007B0C 220px
  );
  opacity: 0.4;

  width: 100%;
  height: 70vh;
  /* padding:100px; */
}

/*
header {
  width: 105%;
  border: 5px solid white;
  background-color: white;
  margin-top: -10px;
  margin-left: -10px;
  height: 90px;
} */
